In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    84406B  ...    17850.0  United Kingdom
1    536365     21730  ...    17850.0  United Kingdom
2    536365    84029G  ...    17850.0  United Kingdom
3    536365    84029E  ...    17850.0  United Kingdom
4    536365     22752  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [5]:
df['Description'] = df['Description'].str.strip()
df.dropna(subset=['InvoiceNo'],inplace=True)
df['InvoiceNo'] = df['InvoiceNo'].astype(str)
df = df[~df['InvoiceNo'].str.contains('C')]

In [6]:
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    84406B  ...    17850.0  United Kingdom
1    536365     21730  ...    17850.0  United Kingdom
2    536365    84029G  ...    17850.0  United Kingdom
3    536365    84029E  ...    17850.0  United Kingdom
4    536365     22752  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [7]:
df = df[df['Country']=='United Kingdom']

In [8]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133277
Country             0
dtype: int64

In [9]:
df = df.groupby(['InvoiceNo','Description'])['Quantity'].count().unstack().reset_index().fillna(0).set_index('InvoiceNo')

In [10]:
df = df.applymap(lambda x: 0 if x<=0 else 1)

In [11]:
df.head()

Description  *Boombox Ipod Classic  ...  wrongly sold sets
InvoiceNo                           ...
536365                           0  ...                  0
536366                           0  ...                  0
536367                           0  ...                  0
536368                           0  ...                  0
536369                           0  ...                  0

[5 rows x 4176 columns]

In [12]:
from mlxtend.frequent_patterns import apriori
ap = apriori(df,min_support=0.01,use_colnames=True)

In [13]:
ap['length'] = ap['itemsets'].apply(lambda x: len(x))
ap[ap['length']>2].head()

       support                                           itemsets  length
1675  0.010714  (PACK OF 60 PINK PAISLEY CAKE CASES, 60 TEATIM...       3
1676  0.010660  (ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKEL...       3
1677  0.012696  (ALARM CLOCK BAKELIKE IVORY, ALARM CLOCK BAKEL...       3
1678  0.013713  (ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKEL...       3
1679  0.010017  (BATHROOM METAL SIGN, DOTCOM POSTAGE, JUMBO BA...       3

In [14]:
def predict(item,count):
  rec=set()
  for row in  ap[(ap['itemsets'].astype(str).str.contains(item)) & (ap['length'] > 1)].sort_values(by='support',ascending=False)['itemsets'][:count]:
    rec.update(set(row)) 
  rec.remove(item)
  return list(rec)

predict('ALARM CLOCK BAKELIKE GREEN',5)

['ALARM CLOCK BAKELIKE CHOCOLATE',
 'ALARM CLOCK BAKELIKE RED',
 'ALARM CLOCK BAKELIKE IVORY',
 'ALARM CLOCK BAKELIKE PINK']